* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}



.dropdown-container {
    position: relative;
    width: 400px;
}


.dropdown-list {
    width: 100%;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 6px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
    padding: 20px 24px;
    z-index: 10;
}

.checkbox-item {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 16px;
    color: #1F2128;
    padding: 16px 0;
    cursor: pointer;
    transition: background-color 0.15s ease;
}

.checkbox-item:hover {
    background-color: transparent;
}

.all-pages-item {
    font-weight: 400;
    color: #1f2937;
    padding-top: 0;
    cursor: pointer;
    user-select: none;
}

.checkbox-item span {
    flex: 1;
}

.checkbox-item input[type="checkbox"] {
    appearance: none;
    width: 24px;
    height: 24px;
    min-width: 24px;
    cursor: pointer;
    accent-color: #2469F6;
    border-radius: 6px;
    border: 1px solid #CDCDCD;
    opacity: 60%;
    margin: 0;
    order: 2;
    position: relative;
}

.checkbox-item input[type="checkbox"]:checked {
    appearance: none;
    background-color: #2469F6;
    border-color: #2469F6;
    opacity: 100%;
}

.checkbox-item input[type="checkbox"]:checked::before,
.checkbox-item input[type="checkbox"]:checked::after {
    content: '';
    position: absolute;
    background-color: #fff;
    border-radius: 2px;
}


.checkbox-item input[type="checkbox"]:checked::before {
    width: 5.9px;
    top: 11.5px;
    left: 3.4px;
    transform: rotate(45deg);
    border: 0.7px solid #fff;
}

.checkbox-item input[type="checkbox"]:checked::after {
    width: 15px;
    top: 8.5px;
    left: 6px;
    transform: rotate(-45deg);
    border: 0.7px solid #fff;
}

.divider {
    height: 1px;
    background-color: #e5e7eb;
    /* margin: 0 16px; */
    border-radius: 50px;
}

.done-btn {
    width: 100%;
    background-color: #FFCE22;
    color: #1F2128;
    border: none;
    border-radius: 4px;
    padding: 10px 15px 10px 15px;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.15s ease;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.done-btn:hover {
    background-color: #FFD84D;
}